*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.box{
    border: solid;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    font-size: 3rem;
}

#Contenedor{
    display: flex;
    background-color: pink;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}